@charset "utf-8";
// 公共样式
$rem:124.2;//定义页面尺寸
$color_pub:white;
$color_menu:white;
$color_f:black;
body {
    margin: 0px;
    padding:0px;
    font-size: 0.21333333rem;
    font-family: Arial, '微软雅黑';
    background:$color_menu;
    color:$color_f;
  }
  input {
    -webkit-appearance: none;
  }
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  img {

    border: none;
    vertical-align: middle;
  }
  div{
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 130/$rem*1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0;
    z-index: 10000;
    background: white;
    color:black
}
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1552553445608'); /* IE9 */
  src: url('iconfont.eot?t=1552553445608#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALkAAsAAAAABowAAAKVAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBFIEzATYCJAMICwYABCAFhG0HNBvdBciemjwpUkAWi4ZW8bAgCBAP/+1Hu29mVjWpJ0tiQFRvmwh5JYKXgpdA1WSSPdM459//WhtEQ9V5e/U8IiKneWX+is9+xBOhiXcaiUQkk0mevKuor8tVA6wBh0ubQBvnAeUyx7RNAQaWBrQ3RpEVyKP/MHbVUnlIzwk0GpDWcGh6sQLtCrwuENdtU4X2QlRRzEK9UNtwtIj7atSnG+kNcE/9Pv4qRjtJTYZbju9MGTD6o4WU5P1q32VBECOg0zXImAMKcboxe1STMGlNGrPNRsCxGoMfqkrYxVEtwvzX4fpm0AelzyRj8ketT6Ak4/PA8UlbSMPN27XHheeDsx8/UvbN0+/fs/fPfPgw69a5T6c4abr17DKod/epXjPV9yOjYx8vju8qPKDjWNo+XFHWUvel0WVl5xBLnmotdS2nSlDkXDXWs/r58ral7UjXGN/kt9+bHuYHwnqTM9UDSwRXwyhAdVAi7/7Hv3Hh/9fNa20r/+qbCvh8eSUf5gf1Z/MFf62toKpKWApsS8XTQv5kfpI7AcVWQAUHO71ONfbcojvUF2Qmkjr9yOqNEQt1DjWaLKJWvXU0mjVzukkX1iRKA2YcAYR2d0haPUfW7olYqC+o0esftdqjCY3ORteVTSbC7txmUiUZqG2jrYeBoA7ZGTeWyFz3VM4rFKdGnNgJLGTz5cIMBcRL7Eg2zKKUAgWHPk6D18jzQow4dEiXWUvKqD+XE00fyuqhD522MaKSiAFptiGbLhQQYrTUWfl+CTGt86i4o6cvXENYwp4cFWTlBxBntMGgnkd5J7HBVCRJAhJYyIemgZt4JBtCUfMiB9FJWdaEdKRfDg0TQ7XZ7fX+D5SYA2BTCjIta9xRA9NQHVtYAAAAAAA=') format('woff2'),
  url('iconfont.woff?t=1552553445608') format('woff'),
  url('iconfont.ttf?t=1552553445608') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1552553445608#iconfont') format('svg'); /* iOS 4.1- */
}

.fdj {
  font-family: "iconfont" !important;
  font-size: 60/$rem*1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right:50/$rem*1rem;
}
.icon-fangdajing:before {
  content: "\e60d";
}
header>.zuo{
    font-size:60/$rem*1rem;
    font-family: "微软雅黑";
    text-decoration: none;
    color:#777777;
    margin-left:50/$rem*1rem;
}
.none{
    width: 100%;
    height: 130/$rem*1rem;
}
.pic{
    width: 100%;
    height: 663/$rem*1rem;
}
.pic>img{
    width: 100%;
    height: 663/$rem*1rem;
}
.gonglv{
    width: 100%;
    height: 315/$rem*1rem;
    display: flex;
    justify-content: center;
}
.gonglv>.box{
    width: 1135/$rem*1rem;
    height: 315/$rem*1rem;
    border-bottom:1/$rem*1rem solid #777777;
}
.gonglv>.box>h3{
    font-size: 60/$rem*1rem;
    color:#333333;
    font-family: "Adoble 黑体 Std";
    margin: 20/$rem*1rem;
    margin-left: 0;
    margin-top:0
}
.gonglv>.box>.yonghu{
    display: flex;
    align-items: center;
}
.gonglv>.box>.yonghu>img{
    width: 117/$rem*1rem;
    height: 117/$rem*1rem;
}
.gonglv>.box>.yonghu>.ziliao{
    display: flex;
    flex-direction: column;
    margin-left:60/$rem*1rem;
}
.gonglv>.box>.yonghu>.ziliao>h3{
    font-size: 48/$rem*1rem;
    color:black;
    font-family: "Adoble 黑体 Std";
    margin: 0
}
.gonglv>.box>.yonghu>.ziliao>.da{
    font-size: 48/$rem*1rem;
    color:black;
    font-family: "Adoble 黑体 Std";
    font-weight:900;
    margin: 0
}
.gonglv>.box>.yonghu>.ziliao>.da>span{
    font-size: 48/$rem*1rem;
    color:#737373;
    font-family: "Adoble 黑体 Std"
}
.gonglv>.box>.yonghu>.ziliao>.xiao{
    font-size: 36/$rem*1rem;
    color:#737373;
    font-family: "Adoble 黑体 Std";
    margin: 0
}
.xc{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150/$rem*1rem;
}
.xc>.xcd{
    width: 100%;
    height: 100/$rem*1rem;
    font-size: 48/$rem*1rem;
    color:#333333;
    font-family: "Adoble 黑体 Std" ;
    font-weight: 900;
    text-align: center;
    line-height: 100/$rem*1rem;
    margin: 0
}
.xc>.five{
    width: 1135/$rem*1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.xc>.five>.d1{
    width: 1135/$rem*1rem;
    height: 160/$rem*1rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1/$rem*1rem solid #B7B7B7;
}
.xc>.five>.d1>h3{
    width: 185/$rem*1rem;
    height: 160/$rem*1rem;
    box-sizing: border-box;
    border-right: 1/$rem*1rem solid #B7B7B7;
    text-align: center;
    line-height: 80/$rem*1rem;
    font-size: 48/$rem*1rem;
    color:black;
    font-family: "Adoble 黑体 Std" ;
    margin: 0
}
.xc>.five>.d1>h3>span{
    display: block;
    font-size: 36/$rem*1rem;
    color:#666666;
    font-family: "Adoble 黑体 Std" ;
}
.xc>.five>.d1>p>span{
    display: block;
    font-size: 36/$rem*1rem;
    color:#41ca7b;
    font-family: "Adoble 黑体 Std" ;
}
.xc>.five>.d1>p{
    font-size: 35/$rem*1rem;
    color:#333333;
    font-family: "Adoble 黑体 Std" ;
    width: 950/$rem*1rem;
}
.xc>.five>.chakan{
    width: 1135/$rem*1rem;
    height: 160/$rem*1rem;
    border: 1/$rem*1rem solid #B7B7B7;
    text-align: center;
    line-height: 160/$rem*1rem;
    font-size: 36/$rem*1rem;
    color:#333333;
    font-family: "Adoble 黑体 Std" ;
}
.xc>.five>div:nth-child(4){
    display: none;
}
.xc>.five>div:nth-child(5){
    display: none;
}
.xc>.fan>img{
    width: 1160/$rem*1rem;
    height: 770/$rem*1rem;
    margin-top:40/$rem*1rem;
}
.xc>.pxt>img{
    width: 1160/$rem*1rem;
    height: 770/$rem*1rem;
    margin-top:40/$rem*1rem;
}
.xc>.xia{
    width:1160/$rem*1rem;
    height: 545/$rem*1rem;
    font-size: 48/$rem*1rem;
    color:#333333;
    font-family: "Adoble 黑体 Std" ;
    line-height: 55/$rem*1rem;
    margin: 0;
    margin-top: 40/$rem*1rem;
}
footer{
    width:100%;
    height:150/$rem*1rem;
    display: flex;
    justify-content: space-around;
    background: #ECECEC;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}
footer>.zan{
    width:180/$rem*1rem;
    height:90/$rem*1rem;
    color:#56c083;
    font-size: 30/$rem*1rem;
    font-family: "华文细黑" ;
    line-height: 90/$rem*1rem;
    text-align:center;
    border: 3/$rem*1rem solid #56c083;
    border-radius: 25/$rem*1rem;
}
footer>.zan>img{
    width:32/$rem*1rem;
    height:39/$rem*1rem;
}
footer>.huifu{
    width:645/$rem*1rem;
    height:90/$rem*1rem;
    border: 3/$rem*1rem solid #7D7D7D;
    border-radius: 25/$rem*1rem;
    box-sizing: border-box;
    line-height: 90/$rem*1rem;
    color:#b8b8b8;
    font-family: "华文细黑" ;
    padding-left: 30/$rem*1rem;
}
footer>.imgxx{
    width:74/$rem*1rem;
    height:70/$rem*1rem;
}
footer>.imgpx{
    width:71/$rem*1rem;
    height:81/$rem*1rem;
}